* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
  }
  html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased
  }
  .mput{
    
  }

  body {
    line-height: 1.618;
    box-sizing: border-box
  }
  a {
    color: inherit;
    text-decoration: none
  }
  :root {
    --color-primary: #abc7c8;
    --color-primary-light: #aedfea;
    --color-primary-dark: #4b7273;
    --color-secondary: #ecf6f5;
    --color-secondary-light: #ddfeff;
    --color-secondary-dark: #8d969f;
    --color-tertiary: #f07629;
    --color-tertiary-light: #f6aa7a;
    --color-white: #fff;
    --color-black: #131419;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --default-background-color: #ecf6f5;
    --default-text-color: #131419;
    --vertical-flow-space: 1.2rem
  }
  
  html {
    line-height: 1.618;
    font-size: 62.5%
  }
  
  body {
    font-size: clamp(16px, 1.5vw, 18px);
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    font-weight: 400;
    font-family: Poppins, Helvetica Neue, Arial, Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
  }
  .navigation {
    position: relative;  
    z-index: 2000
  }
  .navigation__checkbox {
    display: none
  }
  
  .navigation__button {
    position: fixed;
    background-color: var(--color-primary-dark);
    width: 4rem;
    height: 4rem;
    top: 1.5rem;
    right: 1rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .15);
    z-index: 2500;
    text-align: center;
    cursor: pointer
  }
  
  .navigation__icon {
    position: relative;
    margin-top: 1rem;
  }
  
  .navigation__icon,
  .navigation__icon:after,
  .navigation__icon:before {
    width: 2.5rem;
    height: 2px;
    background: var(--color-black);
    display: inline-block
  }
  
  .navigation__icon:after,
  .navigation__icon:before {
    position: absolute;
    content: "";
    left: 0;
    transition: all .2s
  }
  
  .navigation__icon:before {
    top: -.8rem
  }
  
  .navigation__icon:after {
    top: .8rem
  }
  
  .navigation__button:hover .navigation__icon {
    height: 3px
  }
  
  .navigation__button:hover .navigation__icon:before {
    top: -1rem;
    height: 3px
  }
  
  .navigation__button:hover .navigation__icon:after {
    top: 1rem;
    height: 3px
  }
  
  .navbar {
    position: fixed;
    width: 100vw;
    min-height: 6rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: rgba(171, 199, 200, .95);
    color: var(--color-black)
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 20rem;
    min-height:6.8rem;
  }
  .navbar__logo-link {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 50%;
    margin: .4rem 1.2rem
  }
  
  .navbar__logo {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 50%;  
  }
  
  .navbar__menu {
    position: fixed;
    top: 6.8rem;
    left: 0;
    width: 100%;
    padding-bottom: 1.2rem;
    list-style: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 2px rgba(0, 0, 0, .15), 0 4px 4px rgba(0, 0, 0, .15), 0 8px 8px rgba(0, 0, 0, .15), 0 16px 16px rgba(0, 0, 0, .15);
    background: rgba(171, 199, 200, .95);
    opacity: 0;
  /*   transform: scaleY(0);
    transform-origin: top; */
    visibility:hidden;
    transition: all .3s ease-in-out
  }
  
  .navbar__menu.open {
    visibility:visible;
  /*   transform: scale(1); */
    opacity: 1;
    transition: all .3s ease-in-out
  }
  
  .navbar__menu.open .navbar__link {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s ease .2s
  }
  
  
  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 24rem
  }
  
  .navbar__item {
    list-style: none;
    padding: .5rem 1rem;
    text-align: center
  }
  
  .navbar__link {
    position: relative;
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    display: block;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .3s ease .2s
  }
  
  .navbar__link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--color-tertiary);
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform .3s ease
  }
  
  .navbar__link:hover:after {
    transform: scaleX(1);
    transform-origin: left center
  }
  
  .current-page {
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 100%;
    display: block;
    cursor: none;
    pointer-events: none
  }
  
  .current-page:after,
  .current-page:before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-tertiary)
  }
  
  .current-page:before {
    top: 0
  }
  
  .current-page:after {
    bottom: 0
  }
  
  /* @media only screen and (min-width:56.25em) {
  
     .navigation__button {
      display: none
    }
  
    .navbar,
    .navbar__menu {
      flex-direction: row;
      align-items: center
    } 
  
    .navbar__menu {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 0;
      padding-bottom: 0;
      margin-right: 2.4rem;
      background: unset;
      opacity: 1;
      transform: none;
      box-shadow: none
    }
  
    .navbar__links {
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      min-height: unset
    }
  
    .navbar__link {
      opacity: 1;
      display: inline
    }
  
  } */
  
  /* 1 */
